<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">¿Quiénes somos?</h2>
                <hr class="light">
                <p class="text-faded">Arte y Oficio es un espacio que ofrece una extensión educativa para la Cultura y las Artes en Culiacán, Sinaloa. También gestiona proyectos culturales.</p>
                <a href="#contact" class="btn btn-default btn-xl">¡Contáctanos!</a>
            </div>
        </div>
    </div>
</section>
