<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  {% include nav-inner.html %}
  <section id="post">
      <div class="container">
          <div class="col-lg-8">
              {{ content }}
          </div>
          <div class="col-lg-4 pictures">
            {% for pic in page.pictures %}
              <div class="col">
                <img src="img/{{pic}}" class="img-responsive" alt="">
                <br />
              </div>
            {% endfor %}
          </div>
      </div>
  </section>
  {% include scripts.html %}
</body>

</html>
